#fechitas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#fechitas-container.fechitas-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#fechitas-box {
  background-color: #fff;

  width: 95%;
  margin: 20px auto 0;

  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.6);
  box-shadow: 0 2px 5px rgba(0,0,0,0.6);

  opacity: 0;

  -webkit-transform: scale(0.9) translateY(10px);
  transform: scale(0.9) translateY(10px);

  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* .fechitas-visible  */#fechitas-box {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  opacity: 1;
}

.fechitas-panel:before,
.fechitas-panel:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.fechitas-panel:after {
    clear: both;
}

.fechitas-panel button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  background-color: #ffffff;
  border: none;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  outline: none;

  -webkit-transition: background-color ease-out 0.4s;
  transition: background-color ease-out 0.4s;
}
.fechitas-panel button:hover, .fechitas-panel button:focus {
  background-color: #eee;
}

.fechitas-panel button:active {
  background-color: #ddd;
}

.fechitas-els button {
  float: left;
  width: 50%;
}

#fechitas-month .fechitas-els button,
#fechitas-month .fechitas-els .empty {
  width: calc(100%/7);
}

#fechitas-month .fechitas-els .empty {
  height: 28px;
  float: left;
}

.fechitas-nav {
  display: -webkit-flex;
  display: flex;
}

.fechitas-nav button {
  -webkit-flex: 1;
  flex: 1;
}

#fechitas-week {
  display: -webkit-flex;
  display: flex;
}

.fechitas-weekday {
  -webkit-flex: 1;
  flex: 1;

  border-bottom: 1px solid #bbb;

  color: #888;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.fechitas-month-days .empty {
  float: left;
  height: 28px;
}

.fechitas-panel .fechitas-choose {
  border-bottom: 1px solid #bbb;
  padding: 10px 5px;
}

.fechitas-year .fechitas-choose {
  width: 100%;
}
.fechitas-month .fechitas-choose {
  width: 50%;
}

.fechitas-panel button.fechitas-active {
  background-color: #ddd;
}
.fechitas-panel button.fechitas-active:hover, .fechitas-panel button.fechitas-active:focus {
  background-color: #d0d0d0;
}
.fechitas-panel button.fechitas-active:active {
  background-color: #c5c5c5;
}

@media screen and (min-width: 480px) {
  #fechitas-box {
    width: 460px;
  }
}

@media screen and (min-width: 640px) {
  #fechitas-box {
    width: 500px;
  }
  .fechitas-month-days .empty {
    height: 38px;
  }
}

@media screen and (min-width: 960px) {
  #fechitas-box {
    width: 600px;
  }
  .fechitas-panel button {
    font-size: 18px;
    line-height: 24px;
  }
  .fechitas-weekday {
    font-size: 14px;
  }
  .fechitas-month-days .empty {
    height: 44px;
  }
}
